In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('C:/Users/leandro/desktop/ironhack/module-1/Data-Cleaning/data/datacopy.csv')

In [3]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

DATA STRUCTURE

In [4]:
d_shape=data.shape
print('Rows:',d_shape[0] , 'Columns:',d_shape[1])

Rows: 5992 Columns: 24

DATA SIZE

In [5]:
data.size

143808

DATA TYPES

In [6]:
data.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

DATA STATS

In [7]:
data.describe()

              Year  original order
count  5992.000000     5992.000000
mean   1925.204606     2997.548899
std     286.473712     1729.860210
min       0.000000        2.000000
25%    1942.000000     1499.750000
50%    1975.000000     2997.500000
75%    2003.000000     4495.250000
max    2016.000000     5993.000000

DATA COLUMNS

In [8]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

NULL VALUES - CHECK

In [9]:
null_cols = data.isnull().sum()
# print(null_cols)
null_cols[null_cols > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [10]:
#pd.set_option('display.max_columns', None)

In [11]:
drop_cols = list(null_cols[null_cols > 2500].index)
print(drop_cols)

['Age', 'Time', 'Species ', 'Unnamed: 22', 'Unnamed: 23']

REMOVING COLUMNS WITH NULL VALUES GREATER THAN 2500 ~ +/- 50% OF DATA POINTS SET

In [12]:
data = data.drop(drop_cols, axis=1)

In [13]:
null_cols1 = data.isnull().sum()
print(null_cols1)

Case Number                 0
Date                        0
Year                        0
Type                        0
Country                    43
Area                      402
Location                  496
Activity                  527
Name                      200
Sex                       567
Injury                     27
Fatal (Y/N)                19
Investigator or Source     15
pdf                         0
href formula                1
href                        3
Case Number.1               0
Case Number.2               0
original order              0
dtype: int64

DATA SHAPE AFTER FIRST CLEANING - 'Age', 'Time', 'Species ', 'Unnamed: 22', 'Unnamed: 23'

Removing - Name column : Mix values from Sex columns ('Male/Female') - not meaningful information

In [14]:
data =data.drop('Name', axis=1) # No important

In [15]:
data =data.drop('Year', axis=1) # Year -  Duplicate information in Date column

In [16]:
data.head(5)

,Case Number,Date,Type,Country,Area,Location,Activity,Sex,Injury,Fatal (Y/N),Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,Lacerations to hands,N,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,Lacerations to lower leg,N,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,Struck by fin on chest & leg,N,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,No injury: Knocked off board by shark,N,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989

In [17]:
data['Date']

0         18-Sep-16
1         18-Sep-16
2         18-Sep-16
3         17-Sep-16
4         16-Sep-16
           ...
5987    Before 1903
5988    Before 1903
5989      1900-1905
5990      1883-1889
5991      1845-1853
Name: Date, Length: 5992, dtype: object

In [18]:
pd.to_datetime(data['Date'], errors='coerce')

0      2016-09-18
1      2016-09-18
2      2016-09-18
3      2016-09-17
4      2016-09-16
          ...
5987          NaT
5988          NaT
5989          NaT
5990          NaT
5991          NaT
Name: Date, Length: 5992, dtype: datetime64[ns]

In [19]:
data['Date'].replace(regex=True,inplace=True,to_replace=r'Reported',value=r'')

In [20]:
data['Date'].replace(regex=True,inplace=True,to_replace=r'2016',value=r'16')

In [21]:
data['Date'].head(3)

0    18-Sep-16
1    18-Sep-16
2    18-Sep-16
Name: Date, dtype: object

In [22]:
data = data.rename(columns={'Sex ': 'Sex'})

In [23]:
data.columns

Index(['Case Number', 'Date', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Sex', 'Injury', 'Fatal (Y/N)', 'Investigator or Source',
       'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2',
       'original order'],
      dtype='object')

In [24]:
data.head(3)

,Case Number,Date,Type,Country,Area,Location,Activity,Sex,Injury,Fatal (Y/N),Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,Lacerations to hands,N,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,Lacerations to lower leg,N,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991

In [25]:
data['Fatal (Y/N)'].unique() #" Yes or No" # Checking unique values in categorical columns

array(['N', 'Y', nan, 'UNKNOWN', ' N', 'F', 'N ', '#VALUE!', 'n'],
      dtype=object)

In [26]:
pip install quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/07/ab/8cd479fba8a9b197a43a0d55dd534b066fb8e5a0a04b5c0384cbc5d663aa/Quandl-3.5.0-py2.py3-none-any.whl
Requirement already satisfied: six in c:\users\leandro\anaconda3\lib\site-packages (from quandl) (1.12.0)
Collecting inflection>=0.3.1 (from quandl)
  Downloading https://files.pythonhosted.org/packages/d5/35/a6eb45b4e2356fe688b21570864d4aa0d0a880ce387defe9c589112077f8/inflection-0.3.1.tar.gz
Requirement already satisfied: more-itertools in c:\users\leandro\anaconda3\lib\site-packages (from quandl) (7.2.0)
Requirement already satisfied: pandas>=0.14 in c:\users\leandro\anaconda3\lib\site-packages (from quandl) (0.25.1)
Requirement already satisfied: numpy>=1.8 in c:\users\leandro\anaconda3\lib\site-packages (from quandl) (1.16.5)
Requirement already satisfied: python-dateutil in c:\users\leandro\anaconda3\lib\site-packages (from quandl) (2.8.0)
Requirement already satisfied: requests>=2.7.0 in c:\users\leandro\anaconda3\lib\site-packages (from quandl) (2.22.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\leandro\anaconda3\lib\site-packages (from pandas>=0.14->quandl) (2019.3)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\leandro\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\leandro\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\leandro\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\leandro\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (1.24.2)
Building wheels for collected packages: inflection
  Building wheel for inflection (setup.py): started
  Building wheel for inflection (setup.py): finished with status 'done'
  Created wheel for inflection: filename=inflection-0.3.1-cp37-none-any.whl size=6082 sha256=4c49c91415049912bec4dbf12dea82fcefa99c46fb243a9c0941c6f195ae3d1a
  Stored in directory: C:\Users\leandro\AppData\Local\pip\Cache\wheels\9f\5a\d3\6fc3bf6516d2a3eb7e18f9f28b472110b59325f3f258fe9211
Successfully built inflection
Installing collected packages: inflection, quandl
Successfully installed inflection-0.3.1 quandl-3.5.0
Note: you may need to restart the kernel to use updated packages.