# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:
pokemon.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [10]:
# Your code here:
poke_false=(pokemon[(pokemon['Legendary']==True)])
poke_false

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [26]:
poke_false=(pokemon[(pokemon['Legendary']==False)])
poke_false['Total'].mean()

417.21360544217686

In [27]:
poke_false['Total'].std()

106.76041745713022

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [28]:
# Your code here:
poke_true=(pokemon[(pokemon['Legendary']==True)])
poke_true['Total'].mean()

637.3846153846154

In [29]:
poke_true['Total'].std()

60.93738905315346

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [30]:
# Your code here:
from scipy.stats import ttest_ind
ttest_ind(poke_true['Total'],poke_false['Total'])

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [39]:
# Your code here:
pokemon['Type 1'].value_counts().sort_values(ascending=False)

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [59]:
# Your code here:
pokemon_type={}
for i in pokemon['Type 1']:
        pokemon_type[i] = pokemon[pokemon['Type 1']==i]['Total'].sum(),pokemon[pokemon['Type 1']==i]['Total'].std()
pokemon_type

{'Grass': (29480, 106.6506263819414),
 'Fire': (23820, 109.76049615338435),
 'Water': (48211, 113.18826606431458),
 'Bug': (26146, 117.8752230165166),
 'Normal': (39365, 115.73303771765518),
 'Poison': (11176, 92.35868656562297),
 'Electric': (19510, 105.72195173294949),
 'Ground': (14000, 123.91308087890974),
 'Fairy': (7024, 123.78168043682679),
 'Fighting': (11244, 102.46437780003703),
 'Psychic': (27129, 139.0266445496576),
 'Rock': (19965, 108.05922686947147),
 'Ghost': (14066, 110.07268493019481),
 'Ice': (10403, 108.28102694886786),
 'Dragon': (17617, 146.26753754788714),
 'Dark': (13818, 109.12621675287613),
 'Steel': (13168, 115.42090692325094),
 'Flying': (1940, 161.40012391568973)}

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [67]:
# Your code here:
poke=pd.DataFrame.from_dict(pokemon_type, orient='index')
poke.reset_index()
poke.head(3)

           0           1
Grass  29480  106.650626
Fire   23820  109.760496
Water  48211  113.188266

In [ ]:
def t_test_features(s1, s2):
    results = {}
    for i in features:
        results[i] = ttest_ind(s1[i],s2[i], equal_var = False)[1]
    # Your code here
    return results

Write your conclusion below.

In [10]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [69]:
# Your code here:
from scipy import stats
stats.ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [76]:
# Your code here:
stats.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [82]:
# Your code here:
from scipy.stats import ttest_1samp
from scipy.stats import norm
import math
from scipy.stats import t

In [77]:
pokemon['Attack'].mean()

79.00125

In [78]:
pokemon['Defense'].mean()

73.8425

In [79]:
pokemon['Defense'].std()

31.183500559332927

In [80]:
len(pokemon['Defense'])

800

In [83]:
sample_mean = 79.00
pop_mean = 73.84
pop_std = 31.18
n = 800

# For a one sided test on the left mean < 85 (one tail test)

statistic = (sample_mean - pop_mean)/(pop_std/math.sqrt(n))
print("Statistic is: ", statistic)
print("P value is: ",norm.cdf(statistic))
print("Critical Value of z is: ", norm.ppf(0.05))
absoluteZ = abs(norm.ppf(0.05))
upperCI = sample_mean + absoluteZ*pop_std/math.sqrt(n)
print("Upper confidence interval limit is: ", upperCI)
lowerCI = sample_mean - absoluteZ*pop_std/math.sqrt(n)
print("Lower confidence interval limit is: ", lowerCI)

Statistic is:  4.680783824146996
P value is:  0.9999985710991864
Critical Value of z is:  -1.6448536269514729
Upper confidence interval limit is:  80.81325287258194
Lower confidence interval limit is:  77.18674712741806

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [87]:
# Your code here:
cont=pd.crosstab(pokemon['Legendary'],pokemon['Type 1']=='Water')
cont

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [89]:
# Your code here:
from scipy.stats import chi2_contingency
chi2_contingency(cont)

(2.9429200762850503, 0.08625467249550949, 1, array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: