# Mandatory Challenge
## Context
You work in the data analysis team of a very important company. On Monday, the company shares some good news with you: you just got hired by a major retail company! So, let's get prepared for a huge amount of work!

Then you get to work with your team and define the following tasks to perform:   
1. You need to start your analysis using data from the past.  
2. You need to define a process that takes your daily data as an input and integrates it.  

You are in charge of the second part, so you are provided with a sample file that you will have to read daily. To complete you task, you need the following aggregates:
* One aggregate per store that adds up the rest of the values.
* One aggregate per item that adds up the rest of the values.

You can import the dataset `retail_sales` from Ironhack's database. 

## Your task
Therefore, your process will consist of the following steps:
1. Read the sample file that a daily process will save in your folder. 
2. Clean up the data.
3. Create the aggregates.
4. Write three tables in your local database: 
    - A table for the cleaned data.
    - A table for the aggregate per store.
    - A table for the aggregate per item.

## Instructions
* Read the csv you can find in Ironhack's database.
* Clean the data and create the aggregates as you consider.
* Create the tables in your local database.
* Populate them with your process.

In [41]:
# your code here
import pandas as pd
data = pd.read_excel('C:/Users/leandro/desktop/ironhack/module-1/Dataframe-Calculations/data/online-retail.xlsx')
import numpy as np

In [26]:
data.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom

In [7]:
data.shape

(396034, 9)

In [16]:
data.describe()

,InvoiceNo,Quantity,UnitPrice,Revenue,CustomerID
count,396034.000000,396034.000000,396034.000000,396034.000000,396034.000000
mean,560620.294401,12.624838,2.867826,21.492062,15302.695435
std,13110.655964,42.816911,4.265226,93.863439,1709.744925
min,536365.000000,1.000000,0.040000,0.060000,12347.000000
25%,549198.500000,2.000000,1.250000,4.680000,13975.000000
50%,561894.000000,6.000000,1.950000,11.800000,15160.000000
75%,572095.000000,12.000000,3.750000,19.800000,16805.000000
max,581587.000000,4800.000000,649.500000,38970.000000,18287.000000

In [22]:
data['Country'].unique()

array(['United Kingdom', 'Spain', 'Cyprus', 'EIRE', 'Portugal',
       'Netherlands', 'Australia', 'Singapore', 'Switzerland', 'Finland',
       'Channel Islands', 'France', 'Malta', 'Italy', 'Israel', 'Germany',
       'Austria', 'Norway', 'Denmark', 'Sweden', 'Belgium', 'Canada',
       'Poland', 'Japan', 'Iceland', 'Greece', 'Lebanon', 'South Africa',
       'Czech Republic', 'USA', 'Brazil', 'United Arab Emirates',
       'Lithuania', 'Saudi Arabia', 'Bahrain'], dtype=object)

In [23]:
data['Country'].nunique() # Creating regions

35

In [43]:
america=['USA', 'Brazil','Canada']
europe=['United Kingdom', 'Spain', 'Cyprus', 'EIRE', 'Portugal','Netherlands','Switzerland', 'Finland','Channel Islands', 'France', 'Malta', 'Italy', 'Israel', 'Germany',
         'Austria', 'Norway', 'Denmark', 'Sweden', 'Belgium','Poland','Iceland', 'Greece','Czech Republic','Lithuania']
asia=['Singapore', 'Japan','Lebanon', 'United Arab Emirates','Saudi Arabia', 'Bahrain']
rofw=['Australia','South Africa']
countries=len(america)+len(europe)+len(asia)+len(rofw)
countries

35

In [46]:
data['Region']='' # Adding a new empty column

In [47]:
data.head(3)

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country,Region
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,

In [58]:
def continent (colum):
    if colum in america:
        return 'Americas'
    elif colum in europe:
        return 'Europe'
    elif colum in asia:
        return 'Asia'
    elif colum in rofw:
        return 'Rofw'
    else:
        return none

In [59]:
data['Region']=list(map(continent,data['Country']))

In [60]:
data.head(3)

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country,Region
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,Europe
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,Europe
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,Europe

In [61]:
data.groupby(['Region'])['Quantity', 'UnitPrice', 'Revenue'].mean()

           Quantity  UnitPrice     Revenue
Region
Americas  15.445983   2.536122   21.715873
Asia      48.897626   2.942493   75.355697
Europe    12.385891   2.868103   21.113783
Rofw      68.054120   2.835703  112.418110

In [76]:
data_stats=data.groupby(['Region'])['Quantity', 'UnitPrice', 'Revenue'].describe().transpose()
data_stats

Region             Americas         Asia         Europe         Rofw
Quantity  count  361.000000   674.000000  393761.000000  1238.000000
          mean    15.445983    48.897626      12.385891    68.054120
          std     31.391488   129.691977      42.100160    97.431183
          min      1.000000     1.000000       1.000000     1.000000
          25%      6.000000     8.000000       2.000000     8.000000
          50%     12.000000    20.000000       6.000000    24.000000
          75%     20.000000    48.000000      12.000000    96.000000
          max    504.000000  2040.000000    4800.000000  1152.000000
UnitPrice count  361.000000   674.000000  393761.000000  1238.000000
          mean     2.536122     2.942493       2.868103     2.835703
          std      2.537660     5.881802       4.267573     2.514248
          min      0.100000     0.190000       0.040000     0.190000
          25%      0.850000     0.850000       1.250000     1.250000
          50%      1.650000     1.790000       1.950000     1.850000
          75%      3.250000     3.750000       3.750000     3.750000
          max     16.950000   125.000000     649.500000    14.950000
Revenue   count  361.000000   674.000000  393761.000000  1238.000000
          mean    21.715873    75.355697      21.113783   112.418110
          std     31.446088   220.078384      93.104776   157.485448
          min      1.250000     0.290000       0.060000     0.420000
          25%     12.600000    17.700000       4.680000    17.700000
          50%     16.600000    39.700000      11.700000    57.400000
          75%     20.400000    82.500000      19.500000   145.000000
          max    534.240000  3794.400000   38970.000000  1718.400000

In [77]:
type(data_stats)

pandas.core.frame.DataFrame

In [80]:
data_stats.to_excel('C:/Users/leandro/desktop/ironhack/module-1/Dataframe-Calculations/data/data_analysis_store_mandatory.xlsx')

In [ ]:
# table per store
#data['Region']=list(map(continent,data['Country']))